.spiral-main-section {
}
.spiral {
  background-image: url(/src/img/Rectangle\ 14.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.spiral-image {
  position: absolute;
  width: 100%;
  height: 980px;
  margin-top: 30px;
  background-color: #7abbc4;
}

.spiral-content {
  position: relative;
  width: 580px;
  text-align: center;
  margin-left: 320px;

  padding: 10px 0;
  /* flex-wrap: wrap; */
}

.checked-circle {
  color: #0095a8;
  margin-top: 18px;
  font-size: 12px;
}
.header-paragraph {
  margin-top: -40px;
  margin-left: 20px;
}
.card1,.card2,.card3{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.card1 {
  width: 300px;
  padding: 0 20px;
  background-color: #ffffff;
  height: 100px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}
.card1 h3 {
  color: #0095a8;
  font-size: 16px;
}
.card1 p {
  font-size: 14px;
  margin-top: -10px;
}

.card2 {
  width: 300px;
  padding: 0 20px;
  background-color: #ffffff;
  height: 100px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

.card2 h3 {
  color: #0095a8;
  font-size: 16px;
}

.card2 p {
  font-size: 14px;
  margin-top: -10px;
}

.card3 {
  width: 300px;
  padding: 0 20px;
  background-color: #ffffff;
  height: 100px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
}

.card3 h3 {
  color: #0095a8;
  font-size: 16px;
}

.card3 p {
  font-size: 14px;
  margin-top: -10px;
}
.first-column {
  flex-wrap: wrap;
}
.Iphone-13 {
  position: relative;
  margin-top: 85px;
  height: 490px;
}
.columns {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}
.card1 {
  margin: 90px;
}
.card2 {
  margin: 90px;
}
.card3 {
  margin: 90px;
}

.download-app-section {
  display: flex;
  flex-wrap: wrap;
  gap: 230px;
  margin: 30px 60px;
  height: 850px;
}
.download-app {
  width: 430px;
  margin-top: 28px;
  /* padding: 150px 100px; */
}
.person-prayers{
    margin-top: -98px;
    /* padding-left: 155px; */
    /* margin-left: 175px; */
}
.download-app-section h1 {
  font-size: 25px;
  line-height: 14px;
}
.google-store {
  padding: 20px 0;
}
.person {
  width: 430px;
  margin-top: 150px;
  margin-left: 130px;
}
.prayers {
  width: 200px;
  padding: 20px;
  background-color: #e0ecee;
  height: 300px;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: -190px;
  margin-left: -20px;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}
.prayers h3 {
  margin-top: 5px;
}
.prayers p {
  font-size: 12px;
  margin-top: -14px;
}
.amen-button {
  background-color: #004e60;
  color: #ffffff;
  padding: 10px 70px;
  border-style: none;
  margin-left: 12px;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .spiral-main-section{
    margin-top: -350px;
  }
  .spiral-content {
    margin-top: 340px;
    margin-left: 80px;
    font-size: 12px;
    width: 230px;
  }
 
  .spiral-content h2 {
    font-size: 22px;
    font-weight: 500;
  }
  .spiral-content p {
    margin-top: -12px;
  }
  .columns{
    margin-top: -25px;
  }
  .first-column{
    margin-top: -28px;
  }

  .card1,.card2, .card3 { 
    margin:0 -8px;
  }
  .Iphone-13{
    height: 380px;
    margin-left: 70px;
    margin-top: 55px;

  }
  .second-column{
    margin-top: 30px;
  }
 .download-app{
    margin-top: -8px;

 }
 .download-app h1{
    width: 250px;
    font-size: 20px;
 }
 .download-app p{
    font-size: 12.5px;
 }
 .google-store{
    display: flex;
 }
 .person-prayers{
    margin-top:-560px;
    margin-left: -10px;

 }

 .person{
    height: 250px;
    width: 230px;
    margin-left: 95px;
 }
.prayers{
    width: 130px;
    height: 185px;
    margin-top: -125px;
}
.prayers p{
    font-size: 8px;
}
.amen-button{
    width: 70px;
    margin-left: 35px;
    padding:10px 20px;
}


}
